{namespace coleslaw.theme.clnet}

{template base}
<!DOCTYPE html>{\n}
<html lang="{$config.lang}">
  <head>
    <title>{$config.title}</title>
    <link href="{$config.domain}/css/style.css" rel="stylesheet" media="screen" />
    <link href="{$config.domain}/css/custom.css" rel="stylesheet" media="screen" />
    <link href="{$config.domain}/img/favicon.png" rel="icon" type="image/png" />
    <link rel="alternate" href="{$config.domain}/rss.xml" type="application/rss+xml" />
    <meta charset="{$config.charset}" />
    <meta name="author" content="{$config.author}" />
    <meta name="description" content="{$config.description}" />
    {if $injections.head}
    {foreach $injection in $injections.head}
    {$injection |noAutoescape}
    {/foreach}
    {/if}
  </head>

  <body>
    <div class="header">
      <h1>{$config.title}</h1>
      <nav>
        <ul>
          {foreach $link in $config.sitenav}
          <li>
            {if $link.relative}
            <a href="{$config.domain}/{$link.url}">
              {$link.name}</a>
            {else}
            <a href="{$link.url}">
              {$link.name}</a>
            {/if}
          </li>
          {/foreach}
        </ul>
        <div style="clear:both;"/>
      </nav>

    </div>

    <div class="content">
      <div id="raw-content">
        {$raw |noAutoescape}
      </div>

      {if $injections.body}
      {foreach $injection in $injections.body}
      <div id="inj-content">
        {$injection |noAutoescape}
      </div>
      {/foreach}
      {/if}
    </div>

    <hr />

    <div class="footer">
      <div style="float: left; padding: 5px;">
        <a href="{$config.domain}/rss.xml">
          <img alt="RSS feed"
               src="{$config.domain}/img/feed-icon-28x28.png" />
        </a>
      </div>
      Last modification: {$pubdate}. <p>Back
      to <a href="http://common-lisp.net/">Common-lisp.net</a>.</p>
    </div>

  </body>
</html>
{/template}
