{namespace coleslaw.theme.the40ants}

{template base}
<!DOCTYPE html>{\n}
<html lang="{$config.lang}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset={$config.charset}">
    <title>{$config.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/custom.css" rel="stylesheet" media="screen">
    <link rel="alternate" href="/rss.xml" type="application/rss+xml" />
    {if $injections.head}
      {foreach $injection in $injections.head}
        {$injection |noAutoescape}
      {/foreach}
    {/if}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="offset2 span8">
          <div class="row-fluid">
            <div class="navbar">
              <div class="navbar-inner">
                <a class="brand" href="/">
                   <img class="logo" src="/img/logo.svg" title="{$config.title}" />
                </a>
                <ul class="nav">
                  {foreach $link in $config.sitenav}
                  <li>
                    <a href="{$link.url}">{$link.name}</a>
                  </li>
                  {/foreach}
                </ul>
              </div>
            </div>
          </div>  

          <div class="row-fluid">
            {$raw |noAutoescape}
          </div>

          {if $injections.body}
            {foreach $injection in $injections.body}
              <div class="row-fluid">
                {$injection |noAutoescape}
              </div>
            {/foreach}
          {/if}

          <div class="row-fluid">
            <hr>
            <p class="fineprint">Created with passion by <em>40Ants</em>

              <a id="coleslaw-logo" href="https://github.com/kingcons/coleslaw">
                <img width="100" height="25" src="/img/logo_small.jpg" alt="Coleslaw logo" />
              </a>
              <a id="lisp-logo" href="http://lisp-lang.org">
                <img width="60" src="/img/made-with-lisp.svg" alt="Lisp logo" />
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/bootstrap.min.js"></script>
    
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      {literal}
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
      try {
      w.yaCounter40503965 = new Ya.Metrika({
      id:40503965,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
      });
      } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
      {/literal}
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/40503965" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    
  </body>
</html>
{/template}
