{namespace coleslaw.theme.the40ants}

{template post}
<div class="row-fluid">{\n}
  {if $post.title}<h1 class="page-header">{$post.title}</h1>{\n}{/if}
  {if $post.tags}
  <p>
      Tagged as {foreach $tag in $post.tags}
        <a href="/{$tag.url}">{$tag.name}</a>{nil}
          {if not isLast($tag)},{sp}{/if}
      {/foreach}
  </p>
  {/if}
  {if $post.date}
  <p class="date-posted">
      Written on {$post.date}
  </p>
  {/if}

  {$post.text |noAutoescape}
  
  <ul class="pager">
    {if $prev}<li class="previous"><a href="/{$prev.url}">&larr; Previous</a></li>{/if}{\n}
    {if $next}<li class="next"><a href="/{$next.url}">Next &rarr;</a></li>{/if}{\n}
  </ul>
</div>{\n}
{/template}
