{namespace staticl.theme.the40ants}


{template post}
<div class="row-fluid">{\n}
  {if $content.title}<h1 class="page-header">{$content.title}</h1>{\n}{/if}
  {if $content.tags}
  <p>
      Tagged as {foreach $tag in $content.tags}
        {if $tag.url}<a href="{$tag.url}">{$tag.name}</a>{else}<b>{$tag.name}</b>{/if}{nil}
          {if not isLast($tag)},{sp}{/if}
      {/foreach}
  </p>
  {/if}
  {if $content.created_at}
  <p class="date-posted">
      Written on {$content.created_at | date}
  </p>
  {/if}

  {$content.html | noAutoescape}
  
  <ul class="pager">
    {if $content.prev}<li class="previous"><a href="{$content.prev.url}">&larr; Previous</a></li>{/if}{\n}
    {if $content.next}<li class="next"><a href="{$content.next.url}">Next &rarr;</a></li>{/if}{\n}
  </ul>
</div>{\n}
{/template}
